# Datasets
*.csv
*.gz
*.tsv
*-ubyte
*_batch*
*.meta

# Models
*.pth
*.pkl

# Media
*.pptx
*.pdf
*.html

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp

# config directories && files
.idea
.vs
.vscode

*.catboost
*.tfevents
*.json
*.txt

.env


